html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
div.navbar{
    margin-left: 5%;
    font-size: 10px;
    padding: 0px 16px;
  }

.navbar {
    background-color: white;
    overflow: auto;
    margin-bottom: 1px;
  }

.navbar input{
     padding: 7px 150px 6px; 
  } 



  .navbar a {
    float: right;
    padding: 12px;
    color: rgb(24, 17, 17);
    text-decoration: none;
    font-size: 10;
  }
  
  .search{
    margin-right: 10%;
  }

  .logo{
    margin-right: 70px;
  }
  input[placeholder]{
      font-size: 15;
  }
  .navbar a:hover {
    color: #818181;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  /*SIDEBAR*/
.skills{
    display: flex;
}
.sidebar{
    width: 16%;
    height: 100%;
    position: auto;
    z-index: index 1;;
    top: 20rem;
    left: 0;
    background-color: white;
    overflow-x: hidden;
}

.sidebar a {
    padding: 8px 6px;
    text-decoration: none;
    font-size: 14px;
    color: #030303;
    display: block;
  }
  
  .sidebar p{
      font-size: 13px;
      color: #606060;
  }

  .sidebar a:hover {
    background-color: #e6e6e6;
  }
/* 
  li{
      list-style: none;
      margin-right: 2rem;
      padding: 0px 10px;
  } */
  td{
    margin-right: 1rem;
    /* padding: 0px 24px; */

  }

  .subs{
      margin-left: 1rem;
      font-size: 14px;
     
  }

  .more{
    margin-left: 1rem;
    color: #606060;
    font-size: 14px;
}

.line{
    color: #eee5e5;
}

.footer{
    color: #909090;
    font-size: 12px;
}

.frame{
    width: 80vw;
    background-color: #fdfafa;
}

.frame>ul{
    display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(6,16.7%);
  background-color:#fdfafa;
  padding: 10px;
  gap: 20px 10px;
}
.grid-item {
  background-color:#fdfafa;
  height: 100%;
  font-size: 150px;
  /* text-align: center; */
  margin-bottom: 10px;
}

.grid-item p{
  font-size: 14px;
}




